[Unit]
Description=Mumble web interface
Documentation=https://github.com/johni0702/mumble-web
Requires=network.target #mumble-server.service
After=network.target #mumble-server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=/usr/bin/websockify --web=__FINALPATH__/dist --ssl-target localhost:64737 localhost:64738

[Install]
WantedBy=multi-user.target
